.about{
    padding: 0 var(--padding);
    p{
        text-align: justify;
        margin: 1rem 0;
    }
}

@media (min-width: 768px){
    .about{
        padding: 0 var( --medium-padding);
    }
}

@media (min-width: 1024px){
   .about{
    padding-top: 3rem;
   }
}