<section class="about" id="about">
    <h2>Sobre Mi</h2>
    <p>Tengo 23 años, vivo en la ciudad de Cali - Colombia y soy un amante de la tecnología, las motos y los gatos. Actualmente me desempeño en el rubro TI como soporte informático. Me gusta mi trabajo, lo hago con dedicación y compromiso, sin embargo mi principal interes actualmente es incursionar en el mundo de la programación y desarrollo de software, deseo afrontar nuevos retos, adquirir nuevas experiencias y sobretodo crecer laboralmente.</p> <br>

    <p>Soy egresado del programa MisiónTic 2022 en la Universidad del Norte, bootcamp intensivo de programación con enfasis en desarrollo web. A lo largo del programa aprendí las bases de la programación con Python, aprendí sobre la programación orientada a objetos con Java, bases de datos con SQLite y finalmente con el énfasis en desarrollo web aprendí a manejar tegnologias como html, css, javascript, y obtuve conocimientos básicos en React, NodeJs y MongoDB. Complementariamente aprendí sobre GIT y Github, metodologia scrum, Figma y fortalecí mi Inglés.</p>
    
    <p>Actualmente continuo mi formación de manera autodidacta dedicando un promedio de 1-2 horas de estudio al dia en plataformas como Platzi, Udemy y Youtube.</p> <br>
</section>