.footer{
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright{
    color:gray;
    opacity: .7;
}

@media (min-width: 1024px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
    }
}