
.projects-section {
    padding-top: 3rem;
    padding: 0 var(--padding);
    h2 {
        margin-bottom: 0.5em;
    }
}
.swiper-container{
    padding: 1rem;
    margin-top: 2rem;
    .swiper-button-next,
    .swiper-button-prev {
        display: none
        
    }
    .swiper-button-next::after,
    .swiper-button-prev:after {
        font-size: 3em;
        font-weight: 600;
        color: white
    }
}
.project-container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}
.left-column {
    width: 100%;
    .project-image {
        width: 100%;
        border-radius: 1rem;
    }
}
.right-column {
    width: 100%;
    .project-description-container {
        text-align: center;
        margin-bottom: 2rem;
        .project-title {
            margin: 1rem 0;
            font-size: calc(1.5em + 1vw)
        }
        .project-description {
            font-size: calc(1.3em + 1vw)
        }
    }
}
.btn-projects-container { 
    display: flex;
    flex-direction: column;
}


.link-projects {
    height: 4rem;
    width: 100%;
    margin-bottom: 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-size: calc(2em);
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        margin-left: 5px;
    }
}

//Responsive para Tablets
@media (min-width: 768px){
    .projects-section {
        padding: 0 var(--medium-padding)
    }
    .swiper-container{
        padding: 1rem;
        margin: 3rem auto;
        width: 90%;
        .swiper-button-next,
        .swiper-button-prev {
            display: flex;
            width: 3.5rem;
            border-radius: 10px;
            top: 40%;
            height: 30%;
            
        }
        .swiper-button-next::after,
        .swiper-button-prev:after {
            font-size: 3em;
            font-weight: 600;
            color: white
        }
        .swiper-pagination .swiper-pagination-bullet {
            background-color: rgb(162, 162, 162);
        } 
        .swiper-pagination .swiper-pagination-bullet-active {
            background-color: white;
        } 
    }
    .project-container {
        width: 96%;
        height: 300px;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 15px;
    }
    .left-column {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 40%;
    }
    .right-column {
        width: 50%;
        margin-right: 2rem;
        .project-description-container {
            .project-title {
                font-size: calc(1.3em + 1vw);
                margin: 1rem 0;
            }
            .project-description {
                font-size: calc(.8em + 1vw)
            }
        }
    }
    
    .btn-projects-container { 
        flex-direction: row; 
        gap: 10px;
    }
}