<section class="tecs-container" id="skills">
    <h2>Habilidades</h2>
    <swiper
        [slidesPerView]="1"
        [spaceBetween]="30"
        [loop]="true"
        [pagination]="{
        clickable: true
        }"
        [navigation]="true"
        class="mySwiper"
    >
        <ng-template swiperSlide><img src="../../../assets/icons/html-css-js.png" alt="">
            <div class="slide-description">
                <p>Html y Css como tecnologías base para la estructura, diseño y maquetación de páginas web. JavaScript como lenguaje de programación para establecer la lógica e interacción del usuario con la página. </p>
            </div></ng-template
        ><ng-template swiperSlide><img src="../../../assets/icons/typescript.png" alt="">
            <div class="slide-description">
                <p>TypeScript, mismo JavaScript, pero con "Superpoderes", contiene tipado, detección de errores en desarrollo y es un lenguaje orientado a objetos.  </p>
            </div></ng-template
        ><ng-template swiperSlide><img src="../../../assets/icons/angular-react.png" alt="">
            <div class="slide-description">
                <p>React, librería de JavaScript liviana y basada en componentes. Angular, Framework robusto con varios módulos, orientado a objetos y uso de TypeScript como lenguaje. Ambos excelentes herramientas para construir aplicaciones Web.</p>
            </div></ng-template
        ><ng-template swiperSlide><img src="../../../assets/icons/git-github.png" alt="">
            <div class="slide-description">
                <p>Git para control de versiones de mis proyectos, donde guardo y documento los avances y modificaciones. Github, plataforma en la cual subo mis repositorios para tenerlos en la web y hacer deploy con github pages.</p>
            </div></ng-template
        ><ng-template swiperSlide><img src="../../../assets/icons/nodejs.png" alt="">
            <div class="slide-description">
                <p>Conocimiento básico en Node, instalación de aplicaciones, paquetes y librerías. Uso de NPM para ejecución de scripts.</p>
            </div></ng-template
        ><ng-template swiperSlide><img src="../../../assets/icons/api.png" alt="">
            <div class="slide-description">
                <p>Creación de mis propias APIS con Json-server y consumo de API Rest públicas para el desarrollo de mis proyectos personales, simulando de esta manera un backend.</p>
            </div></ng-template
        ><ng-template swiperSlide ><img src="../../../assets/icons/soft-skilss.png" width="10px" alt="">
            <div class="slide-description">
                <p>Entre mis principales habilidades blandas se encuentran la resiliencia, la disciplina, el compromiso, la proactividad y la mejora constante.</p>
            </div></ng-template>
    </swiper>
    
</section>