<section class="tecs-container" id="skills">
    <h2>Habilidades</h2>
    <swiper
        [slidesPerView]="1"
        [spaceBetween]="30"
        [loop]="true"
        [pagination]="{
        clickable: true
        }"
        [navigation]="true"
        class="mySwiper"
    >
        <ng-template swiperSlide><img src="../../../assets/icons/html-css-js.png" alt="">
            <div class="slide-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium assumenda id placeat doloremque quisquam nostrum</p>
            </div></ng-template
        ><ng-template swiperSlide><img src="../../../assets/icons/typescript.png" alt="">
            <div class="slide-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium assumenda id placeat doloremque quisquam nostrum</p>
            </div></ng-template
        ><ng-template swiperSlide><img src="../../../assets/icons/angular-react.png" alt="">
            <div class="slide-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium assumenda id placeat doloremque quisquam nostrum</p>
            </div></ng-template
        ><ng-template swiperSlide><img src="../../../assets/icons/git-github.png" alt="">
            <div class="slide-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium assumenda id placeat doloremque quisquam nostrum</p>
            </div></ng-template
        ><ng-template swiperSlide><img src="../../../assets/icons/nodejs.png" alt="">
            <div class="slide-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium assumenda id placeat doloremque quisquam nostrum</p>
            </div></ng-template
        ><ng-template swiperSlide><img src="../../../assets/icons/api.png" alt="">
            <div class="slide-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium assumenda id placeat doloremque quisquam nostrum</p>
            </div></ng-template
        ><ng-template swiperSlide ><img src="../../../assets/icons/soft-skilss.png" alt="">
            <div class="slide-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium assumenda id placeat doloremque quisquam nostrum</p>
            </div></ng-template>
    </swiper>
    
</section>