
.skills-container {
    padding: var(--padding);
    margin: 0 auto;
    .scroll {
        position: relative;
        display: flex;
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
        -webkit-mask-image: linear-gradient(90deg, transparent, #fff, #fff, transparent);
        .skill-logo {
            white-space: nowrap;
            animation: animate 12s linear infinite;
            animation-delay: calc(12s * -1);
            img {
                width: 12rem;
                display: inline-flex;
                margin: 5px;
                transition: 0.3s;
                filter: grayscale(100%);
            }
            img:hover {
                filter: none;
            }
        }
        .skill-logo:nth-child(2) {
            animation: animate2  12s linear infinite;
            animation-delay: calc(12s / -2);
        }
        @keyframes animate {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
            
        }
        @keyframes animate2 {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-200%);
            }
            
        }
    }
}

@media (min-width: 768px) {
    .skills-container {
        padding: var(--medium-padding);
        .scroll {
            width: 95%;
        }
    }
}