.main-container{
    width: 100%;
    align-content: center;
    padding: var(--padding);
    padding-top: 10rem;
    figure{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .principal-title{
        text-align: center;
        color: var(--blue);
    }
    p{
        text-align: justify;
    }
    .btn-cv{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5rem;
        font-family: 'Kdam Thmor Pro', sans-serif;
        font-size: 2.5em;
        border-radius: 1rem;
        cursor: pointer;
        border: none;
        text-decoration: none;
    }
    .download-cv{
        text-decoration: none;
    }
    .media-icons {
        margin-top: 2rem;
        list-style: none;
        display: flex;
        justify-content: center;
        li{
            margin: 0 .5rem;
            img{
                width: 6rem;
            }
        }
    }
}
@media (min-width: 768px){
    .main-container{
        padding: var(--medium-padding);
        padding-top: 13rem;
        position: relative;
        figure{
            width: 85%;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }
        .btn-cv{
            width: 60%;
            margin: 2rem auto;
            height: 6rem;
        }
        .media-icons {
            position: absolute;
            right: 30px;
            li{
                margin: 0 .5rem;
                img{
                    width: 7rem;
                }
            }
        }
    }
}
@media (min-width: 1024px){
    .main-container{
        height: 100vh;
        display: flex;
        align-items: center;
        padding-top: 13rem;
        figure{
            min-width: 40%;
            img{
                width: 100%;
            }
        }
        p{
            font-size: calc(1.1em + 1vw)
        }
    }
}