<section class="main-container" id="main">
    <figure>
        <img src="../../../assets/img/foto_portafolio.png" alt="foto principal">
    </figure>
    <div class="description">
        <h1 class="principal-title">Soy Juan Paz</h1>
        <p> Desarrollador Frontend Jr apasionado por la programación web. Actualmente, cuento con más de 8 meses trabajando con tecnologías como Html, Css y Javascript, con Angular como fortaleza principal y conocimiento básico en React. <br/>  Día a día sigo formándome, aprendiendo y creando. Aplico al trabajo y a mi vida la filosofía del Kaizen, la cual se puede resumir en la siguiente frase:<b><i> "Hoy mejor que ayer, mañana mejor que hoy". </i></b> </p> <p>Bienvenida(o) a mi portafolio y si algo de aquí te gusta no dudes en contactarme.</p>
        <a class="download-cv" href="../../../assets/Jpaz.pdf" download="CV_JUAN_PAZ" target="_blank"class="btn-cv">Descargar CV</a>
    </div>
</section>