/* You can add global styles to this file, and also import other style files */
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

:root{
    --blue: #00045B;
    --padding: 2rem;
    --medium-padding: 4rem;
    --body-dark-bg: #06183f;
    --light-blue: #007aff;
    --white: #fff;
    --black: #000000
}
body {
    max-width: 1300px;
    margin: 0 auto;
    transition: all 0.3s;
    background-color: var(--white);
    h1,h2 {
        color: var(--blue) !important;
    }
    p {
        color: var(--black);
    }
    .drop-down {
        background-color: var(--white);
        color: var(--blue);
        transition: 0.3s;
        .drop-down-list {
            background-color: var(--white);
            color: var(--blue);
            box-shadow: 0 4px 8px rgba(76, 66, 66, 0.3);
        } &:hover {
            box-shadow: 0 4px 8px rgba(76, 66, 66, 0.3);
        }
    }
    .drop-down--active {
        box-shadow: 0 4px 8px rgba(76, 66, 66, 0.3);
    }
    .swiper-slide {
       background-color: transparent;
    }
    .bar {
        background-color: var(--white);
        transition: 0.3s;
    }
    .open-btn::before, .open-btn::after {
        background-color: var(--blue);
    }
    .close-btn.active::before, .close-btn.active::after {
        background-color: var(--blue);
    }
    .menu-container {
        background-color: var(--white);
    }
    .menu-container.active {
        li {
            a {
                color: var(--blue)
            }
        }
    }
    .navbar-desk{
        background-color: var(--white);
        transition: 0.3s;
        ul {
            li {
                a {
                    color: var(--black);
                } 
                a:hover {
                    background: var(--blue);
                    color: var(--white);
                    border-radius: 15px;
                }
            }
        }
    }
    .main-container {
        .blob {
            .image-box {
                background-color:#00055bd1;
                .portafolio-image {
                    opacity: 1;
                }
            }
        }
    }

    .btn-cv {
        background-color: var(--blue);
        color: var(--white);
    }
    .btn-cv:hover{
        box-shadow: 0px 0px 11px 1px rgba(0,4,91,1);
    }
    .link-projects {
        background-color: var(--blue);
        color: var(--white);
    }
    .link-projects:hover {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.7);
    }
    .card {
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    }
    .toggle-theme {
        transition: all 0.3s;
        background-color: var(--blue);
    }
    .toggle-theme:hover {
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    }
    .project-container {
        box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.75);
    }
    .swiper-container {
        .swiper-button-next, .swiper-button-prev {
            background-color: var(--blue);
        }
        .swiper-button-next:hover, .swiper-button-prev:hover {
            box-shadow: 0 5px 8px rgba(76, 66, 66, 0.3);
        }
        .swiper-pagination .swiper-pagination-bullet {
            background-color: rgb(162, 162, 162);
        } 
        .swiper-pagination .swiper-pagination-bullet-active {
            background-color: var(--blue);
        } 
    }
}
section[id]{
    scroll-margin-top: 10rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
h1{
    font-size: calc(4em + 1vw);
    font-family: 'Kdam Thmor Pro', sans-serif;
}
h2{
    font-size: calc(3em + 1vw);
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: var(--blue)
}
h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: calc(1em + 1vw)
}
p{
    font-family: 'Fira Sans', sans-serif;
    font-size: calc(1.6em + 1vw)
}
@media (min-width: 768px){
    section[id]{
        scroll-margin-top: 13rem;
    }
    p{
        font-family: 'Fira Sans', sans-serif;
        font-size: calc(1.1em + 1vw)
    }
}
@media (min-width: 1024px){
    html{
        max-width: 90%;
        margin: 0 auto;
    }
    section[id]{
        scroll-margin-top: 10rem;
    }
}

body.dark {
    transition: all 0.3s;
    background-color: var(--body-dark-bg);
    h1,h2 {
        color: var(--light-blue) !important;
    }
    p, h3, span {
        color: var(--white);
    }
    .drop-down {
        background-color: var(--body-dark-bg);
        color: var(--white);
        transition: 0.3s;
        .drop-down-list {
            background-color: var(--body-dark-bg);
            color: var(--white);
            box-shadow: 0 4px 8px rgba(255, 255, 255);
        } &:hover {
            box-shadow: 0 0px 10px rgba(255, 255, 255);
        }
    }
    .drop-down--active {
        box-shadow: 0 0px 8px rgba(255, 255, 255);
    }
    .swiper-slide {
        background-color: transparent;
    }
    .bar {
        background-color: var(--body-dark-bg);
        transition: 0.3s;
    }
    .open-btn::before, .open-btn::after {
        background-color: var(--white);
    }
    .close-btn.active::before, .close-btn.active::after {
        background-color: var(--white);
    }
    .menu-container {
        background-color: var(--body-dark-bg);
    }
    .menu-container.active {
        li {
            a {
                color: var(--white)
            }
        }
    }
    .navbar-desk{
        background-color: var(--body-dark-bg);
        transition: 0.3s;
        ul {
            li {
                a {
                    color: var(--white);
                } 
                a:hover {
                    background: var(--light-blue);
                    color: var(--white);
                    border-radius: 15px;
                }
            }
        }
    }
    .btn-cv {
        background-color: var(--light-blue);
        color: var(--white);
    }
    .btn-cv:hover{
        box-shadow: 0px 0px 11px 1px rgb(255, 255, 255);
    }
    .link-projects {
        background-color: var(--light-blue);
        color: var(--white);
    }
    .link-projects:hover {
        box-shadow: 0 0px 10px rgba(255, 255, 255);
    }
    .card {
        box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.75);
    }
    .toggle-theme {
        transition: all 0.3s;
        background-color: var(--light-blue);
    }
    .toggle-theme:hover {
        box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.75);
    }

    .project-container {
        box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.75);
    }
    .main-container {
        .blob {
            .image-box {
                background-color: rgba(255, 255, 255, 0.497);
            }
        }
    }
    .swiper-container {
        .swiper-button-next, .swiper-button-prev {
            background-color: var(--light-blue);
        }
        .swiper-button-next:hover, .swiper-button-prev:hover {
            box-shadow: 0 5px 8px rgba(76, 66, 66, 0.3);
        }
        .swiper-pagination .swiper-pagination-bullet {
            background-color: rgb(162, 162, 162);
        } 
        .swiper-pagination .swiper-pagination-bullet-active {
            background-color: var(--light-blue);
        } 
    }
}
html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
