<nav class="navbar-mobile">
    <div class="bar" [class.active]="active">
        <div class="boton" [class.active]="active" (click)="onActiveToggle()" ></div>
        <figure>
            <a href="https://api.whatsapp.com/send?phone=+573165808886&text=Hola%20Juan,%20v%C3%AD%20tu%20portafolio%20y%20quiero%20saber%20m%C3%A1s%20sobre%20T%C3%AD">
            <img src="../../../assets/icons/wap.png" alt="escribeme al whatsapp">
        </a>
        </figure>
    </div>
    <ul class="menu-container" [class.active]="active">
        <li class="home"><a href="#main" (click)="onActiveToggle()">{{translations.menu.home}}</a></li>
        <li class="about"><a href="#about" (click)="onActiveToggle()" >{{translations.menu.about}}</a></li>
        <li class="skills"><a href="#skills" (click)="onActiveToggle()">{{translations.menu.skills}}</a></li>
        <li class="projects"><a href="#projects" (click)="onActiveToggle()">{{translations.menu.projects}}</a></li> 
    </ul>
</nav>

<nav class="navbar-desk">
    <ul>
        <li class="home"><a href="#main">{{translations.menu.home}}</a></li>
        <li class="about"><a href="#about">{{translations.menu.about}}</a></li>
        <li class="skills"><a href="#skills">{{translations.menu.skills}}</a></li>
        <li class="projects"><a href="#projects">{{translations.menu.projects}}</a></li>    
        <li class="projects"> <a href="https://api.whatsapp.com/send?phone=+573165808886&text=Hola%20Juan,%20v%C3%AD%20tu%20portafolio%20y%20quiero%20saber%20m%C3%A1s%20sobre%20T%C3%AD">
            {{translations.button.whatsapp}}
        </a></li>    
    </ul>
    <select #languageSelect 
        class="language-selector" 
        name="language-selector" 
        id="language-selector"
        (change)="onChangeLanguage(languageSelect.value)"
        (click)="onAddClass()">
        <option class="language-selector-option" [value]="'spanish'">
            {{translations.languages.spanish}}
        </option>   
        <option class="language-selector-option" [value]="'english'">
            {{translations.languages.english}}
        </option>
    </select>
</nav>

