
.navbar-mobile{
    width: 100%;
    .bar{
        position: fixed;
        padding: var(--padding);
        width: 100%;
        height: 11rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        opacity: 1;
    }
}
.menu-container{    
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transform: translateX(-100%);
    transition: transform 0.3s;
    .toggle-theme {
        position: fixed;
        width: 5em;
        height: 5em;
        top: 1.9em;
        right: 3em;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        z-index: 2;
        border: none;
        cursor: pointer;
        .image-theme {
            width: 4em;
            height: 4em;
        }
    }
    
}
.menu-container.active {
    transform: translateX(0);
    transition: transform 0.3s;    
    z-index: 3;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    li{
        font-size: 3rem;
        a{
            text-decoration: none;
            font-family: 'Kdam Thmor Pro', sans-serif
        }
    }    
    
}
.open-btn {
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    z-index: 4;
}
.open-btn::before, .close-btn::before {
    position: absolute;
    content: " ";
    width: 4rem;
    height: .5rem;
    transform: translateY(-.6rem);
    transition: 0.5s;
    margin-bottom: .7rem;
}
.open-btn::after, .close-btn::after {
    position: absolute;
    content: " ";
    width: 4rem;
    height: .5rem;
    transform: translateY(.6rem) ;
    transition: 0.5s;
    margin-top: .7rem;
}
.open-btn.active::before, .close-btn.active::before {
    transform: translateY(0px) rotate(45deg);     
    margin-bottom: 0;
}
.open-btn.active::after, .close-btn.active::after {
    transform: translateY(0px) rotate(-45deg);      
    margin-top: 0;
} 
.close-btn {
    position: absolute;
    left: 2em;
    top: 2em;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    z-index: 4;
}
.wap-container {
    position: fixed;
    bottom: 2em;
    right: 3em;
    z-index: 2;
    .wap-image {
        width: 6em;
    }
}

.navbar-desk{
    display: none;
}

.drop-down {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7em;
    height: 2em;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
    cursor: pointer;
    &:hover {
        transition: all 0.3s;
    }
    .image-item {
        width: 1.5em;
    }
    .wrapper {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    .drop-down-list {
        position: absolute;
        top: 4rem;
        left: 0;
        border-radius: 0 0 5px 5px;
        
        cursor: pointer;
        height: fit-content;
        width: 100%;
        display: none;
        .list-item {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
        }
    }
}    
.drop-down--active {
    .drop-down-list {
        transition: all 0.3s;
        display: block;
    }
}   

//Responsive para Tablets
@media (min-width: 768px){
    .navbar-mobile{
        .bar{
            height: 13rem;
            padding: var(--padding) var(--medium-padding);
        }
    }
    .boton{
        width: 9rem;
        height: 9rem;
    }
    .boton::before{
        width: 6rem;
        height: .7rem;
        margin-bottom: 1.3rem;
    }
    .boton::after{
        width: 6rem;
        height: .7rem;
        margin-top: 1.3rem;
    }
    .boton.active{
        width: 9rem;
        height: 9rem;
    }
    .menu-container{       
        nav{
            ul{
                li{
                    font-size: 5em;
                }
            }
        }
    }
}
@media (min-width: 1024px) {
 
    .navbar-mobile{
        display: none;
        visibility: hidden
    }
    .menu-container{
        display: none;
    }
    .navbar-desk{
        max-width: 1300px;
        margin:  0 auto;
        width: 90%;
        height: 10rem;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 2;
        ul{
            display: flex;
            width: 65%;
            justify-content: space-evenly;
            list-style: none;
            li{
                a {
                    font-size: 2em;
                    opacity: .7;
                    text-decoration: none;
                    font-family: 'Fira Sans', sans-serif;
                    transition: all 0.4s ease;
                }
                a:hover{
                    opacity: 1;
                    padding: 5px 10px;
                    font-weight: bold;
                }
            }
        }
    }
    .toggle-theme {
        position: fixed;
        top: auto;
        bottom: 6em;
        right: 2.2em;
        z-index: 3;
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        .image-theme {
            width: 70%;
            height: 70%;
        }
    }
    .wap-container {
        position: fixed;
        bottom: 2em;
        right: 3em;
        z-index: 3;
        .wap-image {
            width: 4.5em;
        }
    }
    .drop-down {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 7em;
        height: 2em;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-family: 'Fira Sans', sans-serif;
        font-size: 2em;
        cursor: pointer;
        &:hover {
            transition: all 0.3s;
        }
        .image-item {
            width: 1.5em;
        }
        .wrapper {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }
        .drop-down-list {
            position: absolute;
            top: 4rem;
            left: 0;
            border-radius: 0 0 5px 5px;
            
            cursor: pointer;
            height: fit-content;
            width: 100%;
            display: none;
            .list-item {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0.5rem 1rem;
            }
        }
    }    
    .drop-down--active {
        .drop-down-list {
            transition: all 0.3s;
            display: block;
        }
    }   
}